/* 
W08 = Multilingual + OT Features
W29 = Vietnamese
*/

@font-face{
font-family:"BritishCouncilSansW08-It";
src:url("BritishCouncilSans/BritishCouncilSansW08-It.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-It.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-It.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-It.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-It.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-It.svg#215d2b79-dfaf-4343-a49b-0f8a068fe35b") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-LtIt";
src:url("BritishCouncilSans/BritishCouncilSansW29-LtIt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-LtIt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-LtIt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-LtIt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-LtIt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-LtIt.svg#6dee14e8-94b8-4954-8f20-35388376cf1b") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-Black";
src:url("BritishCouncilSans/BritishCouncilSansW08-Black.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-Black.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-Black.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-Black.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-Black.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-Black.svg#ddf238a0-15ee-4fff-8477-ae938a195e86") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-BdIt";
src:url("BritishCouncilSans/BritishCouncilSansW29-BdIt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-BdIt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-BdIt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-BdIt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-BdIt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-BdIt.svg#d37e733e-fd32-4c2e-878a-b54c7df7b128") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-Bd";
src:url("BritishCouncilSans/BritishCouncilSansW29-Bd.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-Bd.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-Bd.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-Bd.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-Bd.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-Bd.svg#6d767568-c816-4bc0-a910-79f29ae0f8f5") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-XLt";
src:url("BritishCouncilSans/BritishCouncilSansW08-XLt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-XLt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-XLt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-XLt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-XLt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-XLt.svg#04f4a2af-a9f6-4820-a24b-21b832275666") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-Rg";
src:url("BritishCouncilSans/BritishCouncilSansW08-Rg.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-Rg.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-Rg.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-Rg.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-Rg.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-Rg.svg#d40bd713-759d-489d-b33e-fe369328171f") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-BdIt";
src:url("BritishCouncilSans/BritishCouncilSansW08-BdIt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-BdIt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-BdIt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-BdIt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-BdIt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-BdIt.svg#83358657-59b6-4ce9-b5f4-29c47ba6d53a") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-It";
src:url("BritishCouncilSans/BritishCouncilSansW29-It.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-It.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-It.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-It.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-It.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-It.svg#4a430444-2c1b-4606-843a-2e666a9bf11d") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-LtIt";
src:url("BritishCouncilSans/BritishCouncilSansW08-LtIt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-LtIt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-LtIt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-LtIt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-LtIt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-LtIt.svg#4ea5a6ba-cc0c-4739-acc7-cb5a32a50da1") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-Lt";
src:url("BritishCouncilSans/BritishCouncilSansW29-Lt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-Lt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-Lt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-Lt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-Lt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-Lt.svg#9b45e9d4-2b54-4fe0-b9ef-dc85fc294a1f") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-Black";
src:url("BritishCouncilSans/BritishCouncilSansW29-Black.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-Black.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-Black.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-Black.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-Black.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-Black.svg#89cc7a42-dc14-40c0-9602-ffe354266cdd") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-Bd";
src:url("BritishCouncilSans/BritishCouncilSansW08-Bd.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-Bd.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-Bd.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-Bd.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-Bd.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-Bd.svg#1dda0519-3a88-4da7-9f07-b572270fbb65") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-Rg";
src:url("BritishCouncilSans/BritishCouncilSansW29-Rg.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-Rg.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-Rg.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-Rg.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-Rg.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-Rg.svg#e9c554ec-81bc-4439-85f5-1995e1fa66fb") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW08-Lt";
src:url("BritishCouncilSans/BritishCouncilSansW08-Lt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW08-Lt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW08-Lt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW08-Lt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW08-Lt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW08-Lt.svg#e349f558-57c9-4a23-9cd0-63bf629d986c") format("svg");
}
@font-face{
font-family:"BritishCouncilSansW29-XLt";
src:url("BritishCouncilSans/BritishCouncilSansW29-XLt.eot?#iefix");
src:url("BritishCouncilSans/BritishCouncilSansW29-XLt.eot?#iefix") format("eot"),url("BritishCouncilSans/BritishCouncilSansW29-XLt.woff2") format("woff2"),url("BritishCouncilSans/BritishCouncilSansW29-XLt.woff") format("woff"),url("BritishCouncilSans/BritishCouncilSansW29-XLt.ttf") format("truetype"),url("BritishCouncilSans/BritishCouncilSansW29-XLt.svg#b46c40a8-ae8a-4e83-b300-b8875901bf29") format("svg");
}
