.listviewheader#admin-listview-header
    .listviewheadergroup
        h3 Groups
    //.listviewheadergroup
    //    img.listviewpagination( id= 'admin.prev.medialibrarypage' src= '/images/icons/arrow-previous-02.png' )
    //    .listviewpagination( id= 'admin.pagenumbers.medialibrary')
    //    img.listviewpagination( id= 'admin.next.medialibrarypage' src='/images/icons/arrow-next-02.png' )
    .listviewheadergroup
        label( for='search' class='listviewheader' ) Search
        input#search-groups( type='search' class='listviewheader' name='search' placeholder='name' data-url= '/admin/groups' value= filter )
    div( style= 'flex-grow:1; flex-shrink:1; width: 16px;' )
    .listviewheadergroup
        img.listviewheader#button-add( src='/images/add.png' data-action= 'get' data-url = '/admin/group/add' )
        
.listviewcontent#admin-listviewcontent
    each group in groups
        .admin-list-item( data-action= 'get' data-url= '/admin/group/' + group._id )
            h2= group.name
            unless group.name === 'system' || group.name === 'public'
                .admin-list-buttons
                    div( id= 'button-delete-' + group._id class= 'deletebutton white' data-action= 'delete' data-url= '/admin/group/' + group._id )

