html
    head
        title= title
        link(rel='stylesheet', href='styles/platform.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        h1 Capture image
        input#capture( type='file' accept='image/*;capture=camera' )
        