include includes/head.pug

#canvascontainer( style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: white;" )
    canvas( id="game.canvas" class="slider" width="1024" height="723" ) Your browser doesn't support HTML5 canvas
#menu-backdrop
#title-bar
    img#title-logo( src="/images/bc-logo.png" )
    #title-progress-container
        span( style="vertical-align: middle;" ) TIME&nbsp;
        progress#title-progress( value="0" )
    img#title-menu( src="/images/logo-menu.png" )
.main-menu#main-menu
    .main-menu-item( id="menu.close" ) MENU
    .main-menu-item( id="menu.play" ) PLAY
    .main-menu-item( id="menu.create" ) MAKE A GAME
    .main-menu-item( id="menu.gallery" ) GALLERY
    .main-menu-item( id="menu.people" ) PEOPLE
    .main-menu-item( id="menu.search" ) SEARCH
    .main-menu-item( id="menu.help" ) HELP
    .main-menu-item( id="menu.about" ) ABOUT
    .main-menu-item( id="menu.login" ) LOGIN/SIGN UP
script. 
    