html
    head
        title= title
        link(rel='stylesheet', href='/css/default.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body( style="background-color: #41AEE4;" )
        div( style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: flex; flex-direction: column; justify-content: space-around; align-items: center;")
            h1 Login to Platform
            div( style="display: flex; flex-direction: row; justify-content: space-between;")
                img( src='/images/facebook.png' class='imagebutton' data-href='/facebook/login' )
                img( src='/images/twitter.png' class='imagebutton' data-href='/twitter/login' )
        script.
            var links = document.querySelectorAll('.imagebutton');
            for ( var i = 0; i < links.length; i++ ) {
                ( function( link ) {
                    link.onclick = function() {
                        window.location = link.getAttribute("data-href");
                    };
                })( links[ i ] );
            }
