include includes/head.pug

#canvascontainer( style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: white;" )
    canvas( id="game.canvas" class="slider" width="1024" height="723" ) Your browser doesn't support HTML5 canvas 
#menu-backdrop
#title-bar
    img#title-logo( src="/images/bc-logo.png" )
    #title-progress-container
        span( style="vertical-align: middle;" ) TIME&nbsp;
        progress#title-progress( value="0" )
    img#title-menu( src="/images/logo-menu.png" )
#editor-container
    #editor-content
        img#editor-image( src="/media/5ab26a8594642dbae5183961" )
    #editor-toolbox
        #editor-tools
            #editor-tools-titlbar
                b EDITING AVATAR
            #editor-tools-grid
                div( id="editor.scale" class="editor-tool" style="background-image: url('/images/tools/resize.png');" )
                div( id="editor.rotate" class="editor-tool" style="background-image: url('/images/tools/rotate.png');" )
                div( id="editor.flip" class="editor-tool" style="background-image: url('/images/tools/flip.png');" )
                div( id="editor.crop" class="editor-tool" style="background-image: url('/images/tools/crop.png');" )
                div( id="editor.adjust" class="editor-tool" style="background-image: url('/images/tools/adjust.png');" )
                div( id="editor.draw" class="editor-tool" style="background-image: url('/images/tools/pencil.png');" )
                div( id="editor.eraser" class="editor-tool" style="background-image: url('/images/tools/rubber.png');" )
                div( id="editor.delete" class="editor-tool" style="background-image: url('/images/tools/bin.png');" )
        #editor-tool-options( content= "")
#main-menu
    .main-menu-item( id="menu.close" style="font-family: BritishCouncilSansW29-Rg;" ) BACK
    .main-menu-item( id="menu.play" style="font-family: BritishCouncilSansW29-Rg;" ) PLAY
    .main-menu-item( id="menu.create" style="font-family: BritishCouncilSansW29-Rg;" ) MAKE A GAME
    .main-menu-item( id="menu.gallery" style="font-family: BritishCouncilSansW29-Rg;" ) GALLERY
    .main-menu-item( id="menu.people" style="font-family: BritishCouncilSansW29-Rg;" ) PEOPLE
    .main-menu-item( id="menu.search" style="font-family: BritishCouncilSansW29-Rg;" ) SEARCH
    .main-menu-item( id="menu.help" style="font-family: BritishCouncilSansW29-Rg;" ) HELP
    .main-menu-item( id="menu.about" style="font-family: BritishCouncilSansW29-Rg;" ) ABOUT
    .main-menu-item( id="menu.login" style="font-family: BritishCouncilSansW29-Rg;" ) LOGIN/SIGN UP
script.
    (function( _id ) {
        var canvas = document.getElementById("game.canvas");
        if (canvas) {
            //
            //
            //
            var aspect = canvas.offsetWidth / canvas.offsetHeight;
            canvas.width = Math.round(canvas.height * aspect);
            //
            //
            //
            if (_id == -1 || _id === undefined) {
                var game = localplay.game.creategame(canvas);
                localplay.game.controller.mobileedit.attachtogame(game);
            } else {
                var game = localplay.game.creategamewithlevel(canvas, _id);
                localplay.game.controller.mobileedit.attachtogame(game);
            }
        }
    })('#{levelid}');
