html
    head
        title Platfom - Sign up
        
        link(rel='stylesheet', href='/css/default.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
        
        // supporting libraries
        script( src="/lib/mustache.js" )
        script( src="/lib/Box2dWeb-2.1.a.3.js" )
        
        // legacy objects
        script( src="/js/graphicsprimitives.js" )
        
        // app scripts
        script( src="/js/localplay.js" )
        script( src="/js/localplay.domutils.js" )
        script( src="/js/localplay.log.js" )
        script( src="/js/localplay.datasource.js" )
        script( src="/js/localplay.dialogbox.js" )
        script( src='/js/localplay.mainmenu.js' )
        
    body( style="background-color: #41AEE4;" )
        .login-container
            .login-column.
                Create your account here so you can build and share your own Platform games! Your Username will be visible in the games. #[br] By Signing up you agree to our #[a( href='javascript:localplay.navigateto("/terms")' ) Terms and Conditions ]
            .login-column
                form#register-form( action='/local/register' method='post' enctype='application/x-www-form-urlencoded' )
                    .form-content
                        if error
                            .form-item#register-error( style='color: red' ) #{error}
                        .form-item
                            label.form-item( for='username' ) Username #[img.form-item(src='/images/icons/user.png')]
                            if username
                                input.form-item#username( type='text' name='username' placeholder='enter a username' required minlength="6" value= username )
                            else
                                input.form-item#username( type='text' name='username' placeholder='enter a username' required minlength="6" )
                        .form-item
                            label.form-item( for='email' ) Email #[img.form-item(src='/images/icons/email.png')]
                            if email
                                input.form-item#email( type='email' name='email' placeholder='enter your email' required value= email )
                            else
                                input.form-item#email( type='email' name='email' placeholder='enter your email' required )
                        .form-item
                            label.form-item( for='password' ) Password #[img.form-item(src='/images/icons/password.png')]
                            input.form-item#password( type='password' name='password' placeholder='enter a password' required minlength="6" )
                        .form-item
                            label.form-item( for='confirm-password' ) Confirm Password #[img.form-item(src='/images/icons/password.png')]
                            input.form-item#confirm-password( type='password' name='confirmpassword' placeholder='confirm your password' required minlength="6" )
                        div( style="display: flex; flex-direction: row; justify-content: space-between;")
                            input.form-item( type='submit' value='Sign up' )
                            input.form-item#login( type='button' value='Already\nregistered' style='font-size: 1.5vw; background-color: transparent; border: 1px solid white;')
        #menu-backdrop
        #title-bar
            img#title-logo( src="/images/bc-logo-white.png" )
            img#title-menu( src="/images/logo-menu.png" )
        .main-menu#main-menu
            .main-menu-item( id="menu.gallery" ) GALLERY
            .main-menu-item( id="menu.help" ) HELP
            .main-menu-item( id="menu.about" ) ABOUT
        script.
            //
            //
            //
            
            //
            // form validation
            //
            var email = document.querySelector('#email');
            email.addEventListener('input', function(e) {
              if (email.validity.typeMismatch) {
                email.setCustomValidity('valid email required');
              } else {
                email.setCustomValidity('');
              }
            });
            var password = document.querySelector('#password');
            var confimPassword = document.querySelector('#confirm-password');
            confimPassword.addEventListener('input', function(e) {
                if ( password.value !== confimPassword.value ) {
                    confimPassword.setCustomValidity('passwords must match');
                } else {
                    confimPassword.setCustomValidity('');
                }
            });
            //
            //
            //
            var login = document.querySelector('#login');
            login.addEventListener('click', function(e) {
                window.location = '/login';
            });
            //
            //
            //
            var logo = document.querySelector( '#title-logo' );
            if ( logo ) {
                logo.addEventListener('click', function(e) {
                    window.location = '/';
                });
            }
            //
            // hook menu
            //
            var menu = document.querySelector('#main-menu');
            menu.addEventListener('click',function(e) {
                var item = e.target;
                var selector = item.id.split('.');
                if ( selector.length >= 2 ) {
                    switch( selector[1] ) {
                        case "gallery":
                            location = '/arcade/latest?title=Latest';
                            break;
                        case 'help':
                            window.location = '/help';
                            break;
                        case 'about':
                            window.location = '/about';
                            break;
                    }
                }
                menu.classList.remove('open'); 
                menuBackdrop.classList.remove('open'); 
            });
            var menuButton = document.querySelector('#title-menu');
            menuButton.addEventListener('click',function(e) {
                menu.classList.toggle('open'); 
                menuBackdrop.classList.toggle('open');
            });
            var menuBackdrop = document.querySelector('#menu-backdrop');
            menuBackdrop.addEventListener('click', function(e) {
                menu.classList.remove('open'); 
                menuBackdrop.classList.remove('open'); 
            });
            
