p ERASER
p Select eraser size and erase backgound to make it transparent
.horizontal-option-container
    each dim in [ 4, 8, 16, 32, 64 ]
        .pen( style= 'width:' + dim + 'px; height:' + dim + 'px; border-radius:' + ( dim / 2 ) + 'px;' )