.editor-tools-titlbar 
    b ADJUST COLOUR
p Drag sliders to adjust image
.vertical-option-container
    input.editor.brightness#brightness(type= 'range' min= '0' max= '1.0' step= '0.01' value= '.5')
    input.editor.contrast#contrast(type= 'range' min= '0' max= '1.0' step= '0.01' value= '.5')
    input.editor.saturation#saturation(type= 'range' min= '0' max= '1.0' step= '0.01' value= '.5')
    input.editor.rotation#rotation(type= 'range' min= '0' max= '1.0' step= '0.01' value= '.5')
    input.editor.scale#scale(type= 'range' min= '0' max= '1.0' step= '0.01' value= '.5')
        
